



#t0c1B {
  margin: 5px;
border-radius: 12px;
padding: 20% 10% 20%;
border: 3px solid #7030a0;
background-color: white;
text-align:center;
color: black;
display: block;
text-align: center;
vertical-align: top;
word-wrap: break-word;

  }

#t0c1B:hover {
   margin: 5px;
border-radius: 12px;
padding: 20% 10% 20%;
border: 3px solid #7030a0;
background-color: #7030a0;
text-align:center;
color: white;
display: block;
word-wrap: break-word;
vertical-align: top;

  }


#t0c2B {
  margin: 5px;
border-radius: 12px;
padding: 20% 10% 20%;
border: 3px solid #7030a0;
background-color: white;
text-align:center;
color: black;
display: block;
word-wrap: break-word;
vertical-align: top;


  }

#t0c2B:hover {
   margin: 5px;
border-radius: 12px;
padding: 20% 10% 20%;
border: 3px solid #7030a0;
background-color: #7030a0;
text-align:center;
color: white;
display: block;
word-wrap: break-word;
vertical-align: top;


  }




#t0c3B {
 margin: 5px;
border-radius: 12px;
padding: 20% 10% 20%;
border: 3px solid #7030a0;
background-color: white;
text-align:center;
color: black;
display: block;
word-wrap: break-word;
vertical-align: top;

  }

#t0c3B:hover {
  margin: 5px;
border-radius: 12px;
padding: 20% 10% 20%;
border: 3px solid #7030a0;
background-color: #7030a0;
text-align:center;
color: white;
display: block;
word-wrap: break-word;
vertical-align: top;

  }


#t0c4B {
  margin: 5px;
border-radius: 12px;
padding: 20% 10% 20%;
border: 3px solid #7030a0;
background-color: white;
text-align:center;
color: black;
display: block;
word-wrap: break-word;
vertical-align: top;

  }

#t0c4B:hover {
   margin: 5px;
border-radius: 12px;
padding: 20% 10% 20%;
border: 3px solid #7030a0;
background-color: #7030a0;
text-align:center;
color: white;
display: block;
word-wrap: break-word;
vertical-align: top;

  }


#t0c5B {
  margin: 5px;
border-radius: 12px;
padding: 20% 10% 20%;
border: 3px solid #7030a0;
background-color: white;
text-align:center;
color: black;
display: block;
word-wrap: break-word;
vertical-align: top;

  }

#t0c5B:hover {
   margin: 5px;
border-radius: 12px;
padding: 20% 10% 20%;
border: 3px solid #7030a0;
background-color: #7030a0;
text-align:center;
color: white;
display: block;
word-wrap: break-word;
vertical-align: top;

  }

#t0c6B {
  margin: 5px;
border-radius: 12px;
padding: 20% 10% 20%;
border: 3px solid #7030a0;
background-color: white;
text-align:center;
color: black;
display: block;
word-wrap: break-word;
vertical-align: top;

  }

#t0c6B:hover {
   margin: 5px;
border-radius: 12px;
padding: 20% 10% 20%;
border: 3px solid #7030a0;
background-color: #7030a0;
text-align:center;
color: white;
display: block;
word-wrap: break-word;
vertical-align: top;

  }





























#tier0row {

 width: 25%;

}

#t0c1 {

width: 23%;

}

#t0c2 {

width: 46%;

}


#reqTitle1 {

background-color: #7040a0;
font-size: 16px;
font-color: white;
text-align: center;
box-shadow: 10px 10px 5px grey;
padding: 30px;
border-radius: 12px;
width: 80%;
align: left;
margin: 8px;
vertical-align: top;


 }

#reqTitle2 {

background-color: #7040a0;
font-size: 16px;
font-color: white;
text-align: center;
box-shadow: 10px 10px 5px grey;
padding: 20px;
border-radius: 12px;
align: left;
margin: 8px;
vertical-align: top;

 }


.subTitle {

color: white;
font-size: 30px;
text-align: center;


}

.side-by-side {

display: inline-block;

}

#side-by-side {

display: inline-block;

}


on-top {

display: block;

}


.t0ButtonCont {

display: inline-block;

}
