

#t1c1B {
  margin: 5px;
border-radius: 12px;
padding: 20% 10% 20%;
border: 3px solid #800001;
background-color: white;
text-align:center;
color: black;
display: block;
text-align: center;
vertical-align: middle;

  }

#t1c1B:hover {
   margin: 5px;
border-radius: 12px;
padding: 20% 10% 20%;
border: 3px solid #800001;
background-color: #800001;
text-align: center;
color: white;
display: block;

  }


#t1c2B {
  margin: 5px;
border-radius: 12px;
padding: 20% 10% 20%;
border: 3px solid #800001;
background-color: white;
text-align: center;
color: black;
display: block;

  }

#t1c2B:hover {
   margin: 5px;
border-radius: 12px;
padding: 20% 10% 20%;
border: 3px solid #800001;
background-color: #800001;
text-align: center;
color: white;
display: block;

  }




#t1c3B {
 margin: 5px;
border-radius: 12px;
padding: 20% 10% 20%;
border: 3px solid #800001;
background-color: white;
text-align: center;
color: black;
display: block;

  }

#t1c3B:hover {
  margin: 5px;
border-radius: 12px;
padding: 20% 10% 20%;
border: 3px solid #800001;
background-color: #800001;
text-align: center;
color: white;
display: block;

  }


#t1c4B {
  margin: 5px;
border-radius: 12px;
padding: 20% 10% 20%;
border: 3px solid #800001;
background-color: white;
text-align: center;
color: black;
display: block;

  }

#t1c4B:hover {
   margin: 5px;
border-radius: 12px;
padding: 20% 10% 20%;
border: 3px solid #800001;
background-color: #800001;
text-align: center;
color: white;
display: block;

  }


#t1c5B {
  margin: 5px;
border-radius: 12px;
padding: 20% 10% 20%;
border: 3px solid #800001;
background-color: white;
text-align: center;
color: black;
display: block;

  }

#t1c5B:hover {
   margin: 5px;
border-radius: 12px;
padding: 20% 10% 20%;
border: 3px solid #800001;
background-color: #800001;
text-align: center;
color: white;
display: block;

  }

#t1c6B {
  margin: 5px;
border-radius: 12px;
padding: 20% 10% 20%;
border: 3px solid #800001;
background-color: white;
text-align: center;
color: black;
display: block;

  }

#t1c6B:hover {
   margin: 5px;
border-radius: 12px;
padding: 20% 10% 20%;
border: 3px solid #800001;
background-color: #800001;
text-align: center;
color: white;
display: block;

  }





























#tier0row {

 width: 25%;

}

#t1c1 {

width: 23%;

}

#t1c2 {

width: 46%;

}


#T1reqTitle1 {

background-color: #800001;
font-size: 16px;
font-color: white;
text-align: center;
box-shadow: 10px 10px 5px grey;
padding: 30px;
border-radius: 12px;
width: 80%;
align: left;
margin: 8px;
vertical-align: top;


 }

#T1reqTitle2 {

background-color: #800001;
font-size: 16px;
font-color: white;
text-align: center;
box-shadow: 10px 10px 5px grey;
padding: 20px;
border-radius: 12px;
align: left;
margin: 8px;
vertical-align: top;

 }
